{% extends "base.html" %}
{% block content %}
    <div class='mx-auto w-1/2 my-9'>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
            {% endfor %}
        {% endif %}

        <form method='POST' class="w-6/12 mx-auto my-20 p-4 rounded-lg" style="box-shadow:5px 4px 5px 4px pink;">
            {% csrf_token %}
            <label for="Password">Enter your username here</label>
            <div class="ring-2 ring-cyan-300 rounded-lg py-2 ps-2 my-2">
                {{ form.username }}
            </div>
            <label for="Password">Enter your password here</label>
            <div class="ring-2 ring-cyan-300 rounded-lg py-2 ps-2 my-2">
                {{ form.password }}
            </div>
            <button class='bg-gray-500 py-2 px-5 rounded text-white mt-3' type="submit">Sign In</button>
            <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
        </form>
    </div>
{% endblock content %}