{% extends "base.html" %}
{% block content %}
    <div class='mx-auto w-1/2 my-9'>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form method='POST' class="my-32">
            {% csrf_token %}
            <label for="email">Enter your email </label>
             <div class="ring-2 ring-cyan-300 rounded-lg py-2 ps-2 my-3">
                {{ form }}
             </div>
            <button class='bg-gray-500 px-3 py-2 rounded text-white mt-3' type="submit">Submit</button>
        </form>
    </div>
{% endblock content %}