
<footer >
    <div class="bg-white py-8 mx-5 my-4 rounded-xl  hover:shadow-xl shadow-blue-500/50 ease-in duration-300">
         <div class="flex flex-col w-full justify-between  lg:flex-row">
           <div class="ms-2">
            <img src="https://i.ibb.co.com/98zjyLx/dab.png" alt="logo" class="h-12 w-12 my-3 rounded-full ml-60 md:ml-96 lg:ml-0">
            <p class="text-gray-500 my-3 text-xl text-center md:ml-1 lg:text-start">
             Making the world a better place through <br>
              constructing elegant hierarchies.
            </p>
            <div class="flex flex-row text-2xl text-gray-500 ml-52 my-3 md:ml-80 lg:ml-0">
             <p><a href="https://www.facebook.com/subrota45" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook me-3"></i></a></p>
             <p><a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram me-3"></i></a></p>
             <p><a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter me-3"></i></a></p>
             <p><a href="https://github.com/CoderSubrota" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github me-3"></i></a></p>
             <p><a href="https://www.youtube.com/@XTECH24782" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a></p>
            </div>
           </div>
           <div>
             <div class="grid grid-cols md:grid-cols-2 text-center lg:grid-cols-4 gap-16 mx-5">
               <div>
                 <p>Solutions</p>
                 <div class="links text-gray-500 flex flex-col mt-2">
                   <a href="#">Marketing</a>
                   <a href="#">Analytics</a>
                   <a href="#">Automation</a>
                   <a href="#">Commerce</a>
                   <a href="#">Insights</a>
                 </div>
               </div>
               <div>
                 <p>Support</p>
                 <div class="links text-gray-500 flex flex-col mt-2">
                   <a href="#">Submit ticket</a>
                   <a href="#">Documentation</a>
                   <a href="#">Guides</a>
                 </div>
               </div>
               <div>
                 <p>Company</p>
                 <div class="links text-gray-500 flex flex-col mt-2">
                   <a href="#">About</a>
                   <a href="#">Blog</a>
                   <a href="#">Jobs</a>
                   <a href="#">Press</a>
                 </div>
               </div>
               <div>
                 <p>Legal</p>
                 <div class="links text-gray-500 flex flex-col mt-2">
                   <a href="#">Terms of service</a>
                   <a href="#">Privacy policy</a>
                   <a href="#">License</a>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <hr class="bg-gray-500 w-full py-0.5 my-3 ">
         <p class="text-center text-gray-500 text-2xl">© 2025 Copy right by Subrota Chandra Sarker</p>
       </div>
       </footer>
